* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hole43-signup {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 670px;
  margin: 0 auto;
}

.container43-signup {
  background-color: white;
  border-radius: 10px;
  width: 100%;
  max-width: 768px;
  min-height: 480px;
  display: flex;
  flex-direction: row; /* Adjusted */
  overflow: hidden;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  padding-top: 35px;
  margin-top: -65px;
  
}

.form-container43-signup {
  width: 50%; /* Adjusted */
  position: relative;
}

.signup-container43-signup {
  z-index: 1;
}

.form43-signup {
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 50px;
  text-align: center;
  width: 100%; /* Adjusted */
}

.social-container43-signup {
  margin: 20px 0;
}

.social-container43-signup a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
}

.input1-43-signup,
.input2-43-signup,
.input3-43-signup,
.button43-signup {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button43-signup {
  margin-top: 10px;
  background-color: #6e00be;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 5px;

}

.button43-signup:hover {
  background-color: #5b009c;
}

.login-image43-signup {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 100%; /* Adjusted */
  height: 87%;
}

.login-text43-signup{
  color:black;
  font-size:20px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
}

.header43-signup {
  background-color: #333; /* Change background color as needed */
  color: #fff; /* Change text color as needed */
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.website-name43-signup {
  font-size: 24px; /* Change font size as needed */
  margin: 0;
}

.signup-button-header43-signup {
  padding: 10px 20px;
  background-color: #f44336; /* Change button color as needed */
  color: #fff; /* Change text color as needed */
  border: none;
  border-radius: 5px;
  font-size: 16px; /* Change font size as needed */
  cursor: pointer;
}

.signup-button-header43-signup:hover {
  background-color: #d82626; /* Change hover color as needed */
}
.error-message-signup {
  color: red;
  font-size: 12px;
  margin-top: -5px;
}