.jhead{
    box-shadow: 10px 10px 10px 10px rgba(181, 177, 177, 0.696);
    background-color: rgb(243, 241, 241);
}
.jhead button{
    color: rgb(60, 2, 80);
    font-size: 15px;
}
.jheadb{
  background-color: #e9e3ff;
  color: white;
}
.jheadb:hover{
  background-color: #1e42bb;
}
.jdhn{
   background-color:rgb(243, 241, 241);
}
.jdc{
    background-color: rgba(237, 247, 249, 0.301);
    height: fit-content;
}
.jdc img{
    border-radius: 10px 10px 10px 10px;
}
.jdname button{
    border-radius: 15px 15px 15px 15px ;
    border: none;
    background-color: rgba(225, 19, 19, 0.83);
color: white;
    margin-top: 10px;
}
.jdsb{
    margin-left: 10px;
    border: none;
    width: 100px;
    height: 30px;
    font-weight: bold;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.jdaply{
    border: none;
    color: white;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif ;
    border-radius: 10px 10px 10px 10px ;
}
.jdcu{
    background-color: rgba(235, 236, 237, 0.6);
}
.jdic{
    color: rgb(0, 0, 93);
    
}
.jdcu button{
    background-color: white;
}
.jdcu textarea{
    background-color: white;
}



.jwarning{
    background-color: rgb(230, 216, 139);
    height: 60px;
    width: 1519px;
}

.jfooter{

    height: 400px;
    background-color: rgb(24, 1, 92);
    width: 1519px;

}
















.Djhead{
    background-color: rgb(42, 41, 41);


}
.Djhead button{
    background-color: rgb(42, 41, 41);
color: white;
    font-size: 15px;
}
.Djhead button:hover{
    background-color: rgba(255, 255, 255, 0.745);
    color: rgb(3, 0, 94);
}


.Djdt{
    color: white;
}


.Djdc{
    background-color: rgb(0, 0, 0);
}
.Djdcu{
    background-color: rgba(67, 66, 66, 0.592);
    color: rgba(255, 255, 255, 0.707);
}
.Djdcu input{
    background-color: rgba(92, 91, 91, 0.808);
    
}
.Djdic{
    color:rgba(185, 27, 225, 0.753) ;
}
.Djdcu button{
    background-color: rgba(128, 128, 128, 0.864);
color: white;
}
.Djdcu textarea{
    background-color: rgba(92, 91, 91, 0.808);

}
.Dwarning{
    background-color: rgba(128, 128, 128, 0.667);
    color: white;
    width: 1519px;

}
.Djfooter{
    background-color: rgba(7, 7, 15, 0.989);
}

.Djdaction {
    margin-top: 10px;
    right: 30px;
    margin-left: 40px;
  }
  
  .Djdaction .profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
  }
  
  .Djdaction .profile img {
   
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   
  }
  .Djdaction .menu::before {
    content: "";
    position: absolute;
    top: -5px;
    right: 28px;
    width: 20px;
    height: 20px;
    background-color: #979797;
    transform: rotate(45deg);
  }
  
  
  .Djdaction .menu {
    position: absolute;
    top: 120px;
    right: 45px;
    padding: 20px 20px;
    background-color: #979797;
    width: 200px;
    box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
   
  }
  
  .Djdaction .menu.active {
    top: 80px;
    visibility: visible;
    opacity: 1;
  }
  

  
  .Djdaction .menu h3 {
    width: 100%;
    text-align: center;
    font-size: 20px;
  
    font-weight: 500;
    color: #ffffff;
   
  }
  
  .Djdaction .menu h3 span {
    font-size: 14px;
    color: #0f004b;
    font-weight: 300;
  }
  
  .Djdaction .menu ul li {
    list-style: none;
  padding-top: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
  }
  
  .Djdaction .menu ul li img {
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: 0.5s;
    
  }
  
  .Djdaction .menu ul li:hover img {
    opacity: 1;
  }
  
  .Djdaction .menu ul li a {
    display: inline-block;
    text-decoration: none;
    color: #555;
    font-weight: 500;
    color: white;

    transition: 0.5s;
  }
  
  .Djdaction .menu ul li:hover a {
    color: #1e42bb;

  }
  




